<h1>Contacto</h1>
<p>Puedes contactarme utilizando la siguiente información:</p>
<ul>
  <li>Correo electrónico: gabriel.ignacio.baez@gmail.com</li>
  <li>Teléfono: +56965275428</li>
  <li>Dirección: Valparaiso, Chile</li>
</ul>

